  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/trainings">FivePoints Academy</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">FivePoints Consulting</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/blog">Blog</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Contact</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-info">
                <h4>Contact Us</h4>
                <p>
                  St. la bourse,building <br>
                  El Wafa, Bloc A 2nd floor,<br>
                  Lac 2, Tunis, Tunisia <br><br>
                  <strong>Phone:</strong> +216 71 190 418<br>
                  <strong>Email:</strong> contact@FivePoints.fr<br>
                </p>

              </div>

              <div class="col-lg-3 col-md-6 footer-info">
                <h3><img _ngcontent-serverapp-c42="" src="assets/images/logo.png"></h3>
                <p>If you want to know more about us and see how things work in 5P you can check us on our social network sites.</p>
                <div class="social-links mt-3">
                  <a href="https://www.linkedin.com/company/fivepoints-the-talent-pool/" class="linkedin" style="background-color: #7d9ce0;"><i class="bx bxl-linkedin"></i></a>
                  <a href="https://www.facebook.com/FivePoints5P/" class="facebook" style="background-color: #3b5999;"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/fivepoints.tn/" class="instagram" style="background-color: #ea4c89;"><i class="bx bxl-instagram"></i></a>         

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FivePoints</span></strong>. All Rights Reserved 2020
      </div>
      <div class="credits">
        
        Made with love
      </div>
    </div>
  </footer><!-- End Footer -->
