<app-header></app-header>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration </h2>
                <form [formGroup]="registrationForm">

                    <div class="row row-space">
                       
                           <div class="form-group">  
                                <mat-form-field style="width: 200px;">
                                    <input matInput type="text" formControlName="lastname" placeholder="lastname" />
                                    <!--<div class="validate"></div>-->
                                </mat-form-field>
                            </div>
                      
                            <div class="form-group"> 
                            <mat-form-field style="width: 200px;">
                                <input matInput type="text" formControlName="firstname" placeholder="firstname"/>
                                <!--<div class="validate"></div>-->
                            </mat-form-field>
                            </div>
                        
                    </div>
                        
                    <div class="form-group">
                        
                        <mat-form-field style="width: 500px;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ex. pat@example.com" formControlName="email" />
                        </mat-form-field>

                    </div>
                
                    <div class="form-group">
                        
                        <mat-form-field style="width: 500px;">
                            <mat-label>Numéro tel</mat-label>
                            <input matInput placeholder="+216 xx xxx xxx" formControlName="numTel" />
                        </mat-form-field>

                    </div><br>

                    <label style="margin-right: 50px;">you wanna take our coures: </label>
                        <input type="radio" formControlName="online" value="true" > online
                        <input type="radio" formControlName="online" value="false"> presentiel
<br>
                    <label style="margin-right: 100px;">Are you graduated?</label>                   
                        <input type="radio" formControlName="diplome" value="true" > yes
                        <input type="radio" formControlName="diplome" value="false"> no
                    
<br>
                    
                    <label style="margin-right: 130px;">Stay updated?</label> 
                        <input type="radio" formControlName="resterInforme" value="true" > yes
                        <input type="radio" formControlName="resterInforme" value="false"> no
               
                    <div class="p-t-20">
                        <br>
                        <button type="submit" class="btn btn-primary" (click)="register()" style="margin-left: 210px;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>