<app-header></app-header>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Registration</h2>
        <form [formGroup]="registrationForm">
          <div class="row row-space">
            <div class="form-group">
              <mat-form-field style="width: 200px">
                <input matInput type="text"
                  formControlName="lastname"
                  placeholder="lastname"
                />
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="registrationForm.get('lastname').hasError('required')">Last name is required</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field style="width: 200px">
                <input
                  matInput
                  type="text"
                  formControlName="firstname"
                  placeholder="firstname"
                />
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="registrationForm.get('firstname').hasError('required')">First name is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group">
            <mat-form-field style="width: 500px">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Ex. pat@example.com"
                formControlName="email"
              />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="registrationForm.get('email').hasError('required')">Email is required</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field style="width: 500px">
              <mat-label>Numéro tel</mat-label>
              <input
                matInput
                placeholder="+216 xx xxx xxx"
                formControlName="numTel"/>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="registrationForm.get('numTel').hasError('required')">PhoneNumber is required</mat-error>
            </mat-form-field>
          </div>
          <br />

          <table>
            <tr>
          <td><label style="margin-right: 50px">you wanna take our courses: </label></td>
          <td><input type="radio" formControlName="online" value="true" /> online</td>
          <td><input type="radio" formControlName="online" value="false" />presentiel</td>
        </tr>
        <br>
        <tr>
          <td><label style="margin-right: 100px">Are you graduated?</label></td>
          <td><input type="radio" formControlName="diplome" value="true" /> yes</td>
          <td><input type="radio" formControlName="diplome" value="false" />no</td>
        </tr>
          </table>

          <br />

          <br> 
          <mat-slide-toggle formControlName="resterInforme">Stay updated?</mat-slide-toggle>
          
          

          <div class="p-t-20">
            <br />
            <button
              type="submit"
              class="btn btn-primary"
              (click)="register()"
              style="margin-left: 210px"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
