<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/images/slide/bg_11.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">Welcome to <span>Fivepoints</span></h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/images/slide/slide-2.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">The best investment that you can make is in yourself</h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/images/slide/slide-3.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">Learn by Doing, Join the #TalentPool ! .</h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section><!-- End Hero -->

  <main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="about-area area-padding" style="margin-top: 50px;">
    <div class="container">
      <div class="section-title">
          <h2>About</h2>
          <h3>Get In Touch With <span>Us</span></h3>
        </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                <img src="assets/images/1.jpg" alt="" style="width: 540px;height: 270px;">
              </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
                <h3 class="sec-head" style="font-weight: bold; font-size: x-large;">FivePoints the TalentPool</h3>
              
              <p>
                Co-founded by experts in the IT & AI field in 2017, the FivePoints startup aims to feed the Tunisian market with the best talents.
                FivePoints is the first talent pool that offers business immersion cycles for young talents seeking to enter the world of IT companies.
              </p>
              <ul>
                <li>
                  <i class="fa fa-check"></i> consulting
                </li>
                <li>
                  <i class="fa fa-check"></i> Academy
                </li>
                <li>
                  <i class="fa fa-check"></i> great team
                </li>
                <li>
                  <i class="fa fa-check"></i> tens of partners
                </li>
                
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div><!-- End About Section -->

 
   <!-- ======= Counts Section ======= -->
<section id="counts" class="counts  section-bg">
  <div class="container">

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-simple-smile"></i>
          <span data-toggle="counter-up">232</span>
          <p><strong>Trained last 4 months</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-clock-time"></i>
          <span data-toggle="counter-up">521</span>
          <p><strong>Hours of Training</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-learn"></i>
          <span data-toggle="counter-up">1,463</span>
          <p><strong>Coached candidate</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-users-alt-5"></i>
          <span data-toggle="counter-up">15</span>
          <p><strong>Persons in our space daily</strong></p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Counts Section -->

<!-- Services -->
<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="section-title">
        <h2>Our Services</h2>
       </div>
    </div>
   </div>
    <div class="row" >
      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

        <div class="owl-carousel slide-one-item-alt">
          <img src="assets/images/slide_11.jpg" alt="Image" class="img-fluid">
          <img src="assets/images/slide_22.jpg" alt="Image" class="img-fluid">
          <img src="assets/images/slide_2.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="custom-direction">
          <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
        </div>

      </div>
      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        
        <div class="owl-carousel slide-one-item-alt-text">
          <div>
            <h3 style="font-weight: 600;
            font-size: 26px;">FivePoints Academy</h3><br>
            <p class="lead">Hone your skills.</p>
            <p>Whether it is to learn about code, specialize in a new Framework or successfully retrain, Fivepoints is your ally in achieving your goals thanks to a solid program and a competent team.</p>
            <br>
            <p><a routerLink="/trainings" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
          </div>
          <div>
           <h3 style="font-weight: 600;
           font-size: 26px;">FivePoints Consulting</h3><br>
            <p class="lead">Your best choice for Consulting</p>
            <p>Our team is at your disposal to help you surpass any kind of problem faced while working with any advanced technology. Our skilled developers will be there for you and make sure to get you ahead of the curve.</p>
            <br>
            <p><a routerLink="/services" class="btn btn-primary mr-2 mb-2" style="color:mr-2 mb-2;">Learn More</a></p>
          </div>


          <div>
            <h3 style="font-weight: 600;
            font-size: 26px;">FivePoints Online</h3><br>
             <p class="lead">Benefit from our online courses</p>
             <p>Our team is at your disposal to help you surpass any kind of problem faced while working with any advanced technology. Our skilled developers will be there for you and make sure to get you ahead of the curve.</p>
             <br>
             <p><a href="https://academy.fivepoints.fr/home" class="btn btn-primary mr-2 mb-2" style="color:mr-2 mb-2;">Learn More</a></p>
           </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<!-- End Services -->


 
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title" >
        <h2>Testimonials</h2>
        <h3>They trusted <span>Us</span></h3>
        <!-- <p>Magnam dolores commodi suscipit. Quisquam quos quisquam cupiditate. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

    
    <!-- <div class="owl-carousel testimonials-carousel" data-aos="fade-up">  -->
        <!-- <div class="carousel owl-carousel ftco-owl "> -->
          <div class="owl-carousel slide-one-item-alt">
        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Having a talent pool with us allows us to recruit talents who have worked on our technologies and ready to be operational, it saves us to spend time and money to integrate our new recruits.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/dQBh8j65/4.png" class="testimonial-img" alt="">
          <h3>Jihed OTHMANI</h3>
          <h4>Expensya, CTO</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Since our partnership with FivePoints we are gaining a lot of time on recruitment, we have operational profiles and especially trained on the new technologies requested by our customers.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/cL72H60t/5.png" class="testimonial-img" alt="">
          <h3>Hamdi Missaoui</h3>
          <h4>Designer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Today I am the CTO of an innovative startup, my experience at FivePoints opened me the doors of the entrepreneurial community, thank you to all the team of coaches.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/HWqT8cD6/2.png" class="testimonial-img" alt="">
          <h3>Fatma Bezine</h3>
          <h4>Le Pti Chef, CTO </h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            I chose to renew the FivePoints experience, I attended two consecutive programs, now I feel that I can easily integrate the business world Thank you FivePoints.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/KY2N15Jm/3.png" class="testimonial-img" alt="">
          <h3>Mokhles hadj Hsine</h3>
          <h4>Looking for an opportunity, Full Stack Developer </h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            After graduation I didn't know where to start my job search, I saw the announcement of the TalentPool at 5P I thought it was a simple training but it wasn't. I really worked as a FullStack developer during the program applying agile methodology and real projects
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/wvxQVTCP/1.png" class="testimonial-img" alt="">
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
        </div>

      </div>

    </div>
  </section>
  <!-- End Testimonials Section -->




 <!-- ======= Team Section ======= -->
 <section id="team" class="team">
  <div class="container-fluid">

    <div class="section-title">
      <h2>Team</h2>
      <h3>Our Hard Working <span>Team</span></h3>
      <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">


          <div  style=" display:flex; align-items:center; justify-content: space-between; flex-wrap: wrap;">

    <div *ngFor="let user of users" class="col-lg-3" data-aos="fade-up" >
            <div class="member">
              <img src="assets/images/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{user.prenom}} {{user.nom}}</h4>
                  <span>{{user.role}}</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> </div><!-- End Member Item -->


        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->


    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" style="background-color: #f3f8fa;">
      <div class="container">
    
        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets/images/why_us.jpg" class="img-fluid" alt="">
            <a href="https://vimeo.com/45830194" class="venobox play-btn mb-4 button popup-vimeo"  data-vbtype="video" data-autoplay="true"></a>
          </div>
    
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
    
            <div class="icon-box">
              <div class="icon"> <i class="bx bx-check"><!--<i class="bx bx-fingerprint">--></i></div>
              <h4 class="title">Welcome to the FivePoints community!</h4>
              <p class="description">FivePoints offers “BootCamp” programs from 1 month to 6 months, in Coding: Web Development, Front-End, Back-End, FullStack, Business, Intelligence, Data Science and Artificial Intelligence.</p>
            </div>
    
            <div class="icon-box">
              <div class="icon"><i class="bx bx-check"><!--<i class="bx bx-gift">--></i></div>
              <h4 class="title">Join us</h4>
              <p class="description">FivePoints supports you from
                first day through its programs adapted to your level and the needs of the
                market.</p>
            </div>
    
          </div>
        </div>
    
      </div>
    </section>




 <!-- ======= Blog Section ======= -->
 <br><br>
 <section id="blog" class="blog">
  <div class="container">
    <div class="section-title">
      <h2>Latest Blog</h2>
      <h3>Take a look on our <span>blog</span></h3>
      </div>
      
    <div  style=" display:flex; align-items:center; justify-content: space-between; flex-wrap: wrap;">
 
      <div *ngFor="let blog of blogs" class="col-lg-4" data-aos="fade-up" >
        <article class="entry">

          <div class="entry-img">
            <img src="assets/images/image_7.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="/singleBlog">{{blog?.title}}</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">{{blog.auteur}}</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{blog.date | date: 'dd/MM/yyyy'}}</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
            {{blog?.subtitle}}
            </p>
            <div class="read-more">
              <a href="blog-single.html" style="background-color:#428bca;" class="btn btn-primary mr-2 mb-2">Read More</a>
            </div>
          </div>

        </article>
      </div>
    </div>

    
  </div>
</section>
<!-- End Blog Section -->



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p>Our startup guarantees you good coaching and excellent training in the best conditions.</p>
          <a class="cta-btn" routerLink="/trainingRegistration">Call To Action</a>
        </div>

      </div>
    </section><br><br>
    <!-- End Cta Section -->



    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          
          <div class="section-title">
            <h2>Contact</h2>
            <h3>Get In Touch With <span>Us</span></h3>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-mobile"></i>
                  <p>
                    Call: +216 71 190 418<br>
                    <span>Monday-Friday (9h-16h)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-envelope-o"></i>
                  <p>
                    Email: contact@FivePoints.fr<br>
                    <span>Web: www.fivepoints.tn</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-map-marker"></i>
                  <p>
                    St. la bourse, building El Wafa, Bloc A 2nd floor, Lac 2, Tunis, Tunisia<br>
                   <!--<span>NY 535022, USA</span> --> 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Start Google Map -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- End Google Map -->


            <!-- Start  contact -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form contact-form">
                  <form [formGroup]="contactForm">
                    <div >
                      <mat-form-field style="width: 500px;">
                         <input matInput type="text" formControlName="name" placeholder="Your Name" />
                         <!--<div class="validate"></div>-->
                      </mat-form-field>
                    </div>


                    <div >
                     <mat-form-field style="width: 500px;">
                        <input matInput type="text" formControlName="subject" placeholder="Subject" />
                        <!--<div class="validate"></div>-->
                      </mat-form-field>
                    </div>

                    <div >
                      <mat-form-field style="width: 500px;">
                         <input matInput type="email" formControlName="email" placeholder="Your Email"  />
                         <!--<div class="validate"></div>-->
                      </mat-form-field>
                    </div>  
                    <div>
                      <mat-form-field style="width: 500px;">
                        <textarea matInput formControlName="contenuMessage"  rows="5" placeholder="Message" ></textarea>
                      </mat-form-field>
                    </div>

                    <div class="text-center"><button type="submit" (click)="ajouterMessage()" style="background-color:#428bca;" class="btn btn-primary mr-2 mb-2">Send Message</button></div>
                <br><br>
                </form>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div> <br><br>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <app-footer></app-footer>
