<app-header></app-header>

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">Home</a></li>
      <li>Services</li>
    </ol>
    <h2>Services</h2>

  </div>
</section>
<!-- End Breadcrumbs -->

<section class="Services">
      <div class="container">
  
        <div class="section-title">
          <h2>Services</h2>
          <h3>What we do for <span>You</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>
  
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/images/services/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
          </div><br>
          <p><a routerLink="/serviceRegistrationComponent" class="btn btn-primary mr-2 mb-2" style="margin-left: 500px; margin-top: 30px; background-color: #428bca; color: white">join us</a></p>
        </div>
  
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/images/services/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Corporis temporibus maiores provident</h3>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <br>
            <p><a routerLink="/serviceRegistrationComponent" class="btn btn-primary mr-2 mb-2" style="margin-left: 500px; margin-top: 30px; background-color: #428bca; color: white">join us</a></p>
          </div>
        </div>
  
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/images/services/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="icofont-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
          </div>
          <br>
          <p><a routerLink="/serviceRegistrationComponent" class="btn btn-primary mr-2 mb-2" style="margin-left: 500px; margin-top: 30px; background-color: #428bca; color: white">join us</a></p>
        </div>
  
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/images/services/features-4.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <br>
            <p><a routerLink="/serviceRegistrationComponent" class="btn btn-primary mr-2 mb-2" style="margin-left: 500px; margin-top: 30px; background-color: #428bca; color: white">join us</a></p>
          </div>
          
        </div>
  
      </div>
    </section>
  
  
    
  <section class="Services">
    <div class="container">
  
      <div class="section-title">
        <h2>Our Partners</h2>
        <h3>They trust <span>Us</span></h3>
        <p> Many companies, startups and coaches has given us their trust. Here we present some of them. </p>
      </div>
  
  </div>
  </section>
  
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container">
  
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/expensya.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/criteol.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/devrecipe.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/microsoft.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/jobi.jpg" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/flat.jpg" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/fullstack.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/images/clients/WanaGames.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/images/clients/vynd.jpg" class="img-fluid" alt="">
                </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/images/clients/uptale.png" class="img-fluid" alt="">
                </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/images/clients/marki.jpg" class="img-fluid" alt="">
                </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/images/clients/SmartTunisia.png" class="img-fluid" alt="">
                </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Clients Section -->

  <app-footer></app-footer>
