<app-header></app-header>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2>Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <div class="row">

              <div class="col-md-6 d-flex align-items-stretch" *ngFor="let blog of blogs">
                <article class="entry">

                  <div class="entry-img">
                    <img src="assets/images/Blog/blog-1.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a routerLink="/blog/article" (click)="articleDetails(blog)">{{blog.title}}</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">{{blog.auteur}}</a></li>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{blog.date | date: 'dd/MM/yyyy'}}</time></a></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    <p>
                      {{blog?.subtitle}}
                    </p>
                    <div class="read-more">
                      <a routerLink="/blog/article" (click)="articleDetails(blog)">Read More</a>
                    </div>
                  </div>

                </article><!-- End blog entry -->
              </div>



            </div>

          </div>
          <!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>

              </div><!-- End sidebar search formn-->
<br>
              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                
                <div class="post-item clearfix" *ngFor="let article of articles" >
                  <img src="assets/images/Blog/blog-recent-1.jpg" alt="">
                  <h4><a routerLink="/article" (click)="articleDetails(article)" >{{article.title}}</a></h4>
                  <time datetime="2020-01-01">{{article.date | date: 'dd/MM/yyyy'}}</time>
                </div>           

              </div><!-- End sidebar recent posts-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <app-footer></app-footer>
